
.demo-container {
    border-radius: 4px;
    -webkit-transition: 0.02s padding cubic-bezier(0.35, 0, 0.25, 1);
    transition: 0.02s padding cubic-bezier(0.35, 0, 0.25, 1);
    position: relative;
    padding-bottom: 0;
    .main-toolbar {
        background: white;
        color: black;
    }
    .md-button {
        margin: 1em;
    }
    .md-button:not(.md-fab) {
        min-width:10em;
        padding:6px;
        line-height: 25px;
    }
    md-toast .md-button:not(.md-fab) {
        min-width:initial;
    }
}

.demo-well {
    padding: 30px;
    margin: 0 40px;
    position: relative;
    .demo-well-title {
        color: #bbb;
        position: absolute;
        bottom: 5px;
        left: 10px;
        font-size: 12px;
    }
}

.menu-item {
    background: none;
    border-width: 0;
    cursor: pointer;
    display: block;
    color: #333;
    font-size: inherit;
    line-height: 40px;
    max-height: 40px;
    opacity: 1;
    margin: 0;
    outline: none;
    padding: 0px 28px;
    position: relative;
    text-align: left;
    text-decoration: none;
    width: 100%;
    z-index: 1;
    -webkit-transition: 0.45s cubic-bezier(0.35, 0, 0.25, 1);
    -webkit-transition-property: max-height, background-color, opacity;
    -moz-transition: 0.45s cubic-bezier(0.35, 0, 0.25, 1);
    -moz-transition-property: max-height, background-color, opacity;
    transition: 0.45s cubic-bezier(0.35, 0, 0.25, 1);
    transition-property: max-height, background-color, opacity;
    &.ng-hide {
        max-height: 0;
        opacity: 0;
    }
    &:hover {
        color: #999;
    }
    &.menu-title {
        color: #888;
        font-size: 14px;
        padding-left: 16px;
        text-align: left;
        text-transform: uppercase;
        transition: color 0.35s cubic-bezier(0.35, 0, 0.25, 1);
    }
    &:hover, &.menu-title.active {
        color: #1976d2;
    }
    &.active {
        background: rgba(0, 0, 0, 0.1);
    }
}

